.table-container {
  overflow-x: auto;
  max-width: 100%;
}


.mat-mdc-header-cell{
  background-color: black;

}


.overscroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  white-space: nowrap; 
}
